# QuickFit Frontend Environment Configuration
# Localhost Development:
# VITE_API_URL=http://localhost:5000/api

# Production Deployed Render Backend:
VITE_API_URL=https://quickfit-backend-m1yl.onrender.com/api

